body {
	background: gray;
	padding: 0;
	margin: 0;
}

.base {
	background: black;
	perspective: 900px;
	margin-top: 50px;
	height: 500px;
	width: 500px;
}

.container {
	transform-style: preserve-3d;
}

.border {
	border: 1px solid white;
}

.center-horizontal {
	margin-right: auto;
	margin-left: auto;
}

.top {
	background: rgba(255, 255, 255, 0.5);
}

.bottom {
	background: rgba(255, 213, 00, 0.5);
}

.front {
	background: rgba(00, 155, 72, 0.5);
}

.back {
	background: rgba(00, 69, 173, 0.5);
}

.left {
	background: rgba(255, 137, 00, 0.5);
}

.right {
	background: rgba(137, 0, 0, 0.5);
}